################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day1/bin/Debug/netcoreapp3.1
/Day1/obj/Debug/netcoreapp3.1
/Day1.Test/bin/Debug/netcoreapp3.1
/Day1.Test/obj
*.dll
*.cache